* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    background: #fff;
    justify-content: center;
    flex-direction: column;
    min-width: 700px;
    min-height: 500px;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    background-color: #666;
    border: 5px solid white;
    font-size: 80px;
    color: #fff;
    border-radius: 10%;
    height: 120px;
    width: 120px;
    text-align: center;
}

body {
    display: flex;
    background: black;
    margin-top: 120px
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}